.nav {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.nav__list { 
  list-style-type: none;
  border-radius: 10px;
  margin-right: 10px;
}

.nav__item {
  margin: 10px 10px;
  border-radius: 50%;
  background-color: #8d8c89;
}

.nav__link {
  padding: 10px;
  display: flex;
}

.nav__img {
  width: 30px;
}

.nav__item:hover {
  background-color: #fff;
}

.nav__item:hover img {
  transform: scale(1.1);
  transition: transform .2s ease;
}